{% extends "master.html" %}
{% load static %}

{% block title %}
	About Us
{% endblock %}
{% block content %}

 	<header id="head" class="secondary">
        <div class="container">
                <h1>About Us</h1>
                <p>Who Are We!</p>
        </div>
    </header>
    <!-- container -->
    <section class="container">
        <div class="row">
            <!-- main content -->
            <section class="col-sm-8 maincontent">
                <h3>About Us</h3>
                <p>
                    <img src="{% static 'images/about.jpg' %}" alt="" class="img-rounded pull-right" width="300">
                    We are committed to fostering a dynamic and inclusive academic environment where students are empowered to achieve their full potential. Our university has grown into a leading institution known for its academic excellence, innovative research, and community engagement.
                </p>
                <p>We embrace a global perspective, offering numerous opportunities for international study and collaboration. Our partnerships with universities around the world enable students to gain valuable cross-cultural experiences and prepare for careers in a globalized society.</p>
                <h3>Our Achievements</h3>
                <strong>2024</strong>
                <p>Our university’s Business and Engineering programs have been consistently ranked among the top 10 in the nation, reflecting our commitment to academic excellence and innovative teaching. Faculty members have secured over $10 million in prestigious research grants from leading institutions such as the National Science Foundation and the National Institutes of Health, advancing groundbreaking research across various fields.</p>
                <strong>2023</strong>
                <p>Our graduates boast a 95% employment rate within six months of graduation, demonstrating the effectiveness of our career services and the high demand for our alumni in the job market. We have established over 50 academic partnerships with universities around the world, offering students unique opportunities for international study and collaborative research.</p>
                </section>
            <!-- /main -->

            <!-- Sidebar -->
            <aside class="col-sm-4 sidebar sidebar-right">

                <div class="panel">
                    <h4>Latest News</h4>
                    <ul class="list-unstyled list-spaces">
                        <li><a href="">1. Research Grant Awarded to Engineering Department</a><br>
                            <span class="small text-muted">
                                The Engineering Department has been awarded a $2 million research grant to develop sustainable energy solutions. This funding will support cutting-edge projects and provide opportunities for student involvement.
                            </span></li>
                        <li><a href="">2. New Library Hours Starting Next Semester</a><br>
                            <span class="small text-muted">Starting next semester, the university library will extend its hours to accommodate students' study needs. The library will now be open from 7 AM to midnight, Monday through Friday.</span></li>
                        <li><a href="">3. Alumni Association Hosts Annual Gala</a><br>
                            <span class="small text-muted">The Alumni Association is excited to host its Annual Gala on June 15th. This event is a fantastic opportunity for alumni to reconnect, network, and celebrate their achievements. Tickets are available now.</span></li>
                    </ul>
                </div>

            </aside>
            <!-- /Sidebar -->

        </div>
    </section>
    <!-- /container -->
    <section class="team-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Our Team</h3>
                    <br />
                </div>
            </div>
            <div class="row">

                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="{% static 'images/profiles/Oo.jpeg' %}" alt="">
                        </div>
                        <!-- Member Details -->
                        <h4>Elizabeth Obiyomi</h4>
                        <!-- Designation -->
                        <span class="pos">Team Lead</span>
                        <div class="team-socials">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member pDark">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="{% static 'images/profiles/QF.jpeg' %}" alt="">
                        </div>
                        <!-- Member Details -->
                        <h4>Quadri Faruk</h4>
                        <!-- Designation -->
                        <span class="pos">Developer</span>
                        <div class="team-socials">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member pDark">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="{% static 'images/profiles/Farhan.jpeg' %}" alt="">
                        </div>
                        <!-- Member Details -->
                        <h4>Farhan Arshad</h4>
                        <!-- Designation -->
                        <span class="pos">Developer</span>
                        <div class="team-socials">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member pDark">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="{% static 'images/profiles/Femi.jpeg' %}" alt="">
                        </div>
                        <!-- Member Details -->
                        <h4>Oluwafemi Oyeranmi</h4>
                        <!-- Designation -->
                        <span class="pos">Developer</span>
                        <div class="team-socials">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member pDark">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="{% static 'images/profiles/Aqeel.jpeg' %}" alt="">
                        </div>
                        <!-- Member Details -->
                        <h4>Aqeel</h4>
                        <!-- Designation -->
                        <span class="pos">Developer</span>
                        <div class="team-socials">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
