{% extends "master.html" %}
{% load static %}

{% block title %}
  Home
{% endblock %}

{% block content %}

	<!-- Header -->
	<header id="head" style="background-color: black;">
		<div class="container">
             <div class="heading-text">							
							<h1>Start Online Education</h1>
							<p>Learning Management System</p>
						</div>
            
		</div>
	</header>

  <div class="container">
    <div class="row">
					<div class="col-md-3">
						<div class="grey-box-icon">
							<div class="icon-box-top grey-box-icon-pos">
								<img src="{% static 'images/1.png' %}" alt="" />
							</div>
							<h4>Online Courses</h4>
     						<p><a href="#"><em>Read More</em></a></p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="grey-box-icon">
							<div class="icon-box-top grey-box-icon-pos">
								<img src="{% static 'images/2.png' %}" alt="" />
							</div>
							<h4>Meet our Staff</h4>
     						<p><a href="#"><em>Read More</em></a></p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="grey-box-icon">
							<div class="icon-box-top grey-box-icon-pos">
								<img src="{% static 'images/3.png' %}" alt="" />
							</div>
							<h4>Latest Updates</h4>
							
     						<p><a href="#"><em>Read More</em></a></p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="grey-box-icon">
							<div class="icon-box-top grey-box-icon-pos">
								<img src="{% static 'images/4.png' %}" alt="" />
							</div>
							<h4>Placements</h4>
							
     						<p><a href="#"><em>Read More →</em></a></p>
						</div>
					</div>
				</div>
    </div>
      <section class="news-box top-margin">
        <div class="container">
            <h2><span>New Courses</span></h2>
            <div class="row">
                {% for course in courses %}
                <a href="{% url 'CourseDetail' course.id %}">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="newsBox">
                            <div class="thumbnail">
                                <figure><img src="{% static 'images/news2.jpg' %}" alt=""></figure>
                                <div class="caption maxheight2">
                                <div class="box_inner">
                                            <div class="box">
                                                <p class="title"><h5>{{course.name}}</h5></p>
                                                <p>{{course.description}}</p>
                                            </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
   
  
	
      <section class="container">
      <div class="row">
      	<div class="col-md-8"><div class="title-box clearfix "><h2 class="title-box_primary">About Us</h2></div> 
        <p><span>We are committed to fostering a dynamic and inclusive academic environment where students are empowered to achieve their full potential. Our university has grown into a leading institution known for its academic excellence, innovative research, and community engagement.</span></p>
        <p>We embrace a global perspective, offering numerous opportunities for international study and collaboration. Our partnerships with universities around the world enable students to gain valuable cross-cultural experiences and prepare for careers in a globalized society.</p>
			</div>
              
          
          <div class="col-md-4"><div class="title-box clearfix "><h2 class="title-box_primary">Up Coming Courses</h2></div> 
            <div class="list styled custom-list">
            <ul>
            <li><a href="#">Mathematics and Computer Science</a></li>
            <li><a href="#">Mathematics and Philosophy</a></li>
            <li><a href="#">Philosophy and Modern Languages</a></li>
            <li><a href="#">History (Ancient and Modern)</a></li>
            <li><a href="#">Classical Archaeology and Ancient History</a></li>
            <li><a href="#">Physics and Philosophy</a></li>
            </ul>
            </div>
         </div>
      </div>
      </section>
{% endblock %}
