{% load static %}

<html>
<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"> 
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}" media="screen"> 
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- CSS -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
  <!-- Default theme -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
  <title>{% block title %}{% endblock %}</title>
  {% block metaData %}{% endblock %}
</head>
<body>
<!-- Fixed navbar -->
<div class="navbar navbar-inverse">
  <div class="container">
    <div style="margin: 0; padding: 0;">
      <!-- Button for smallest screens -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a class="navbar-brand" style="margin: 0; padding: 0;" href="{% url 'Home' %}">
        <!-- <img src="" alt="logo"></a> -->
        <h1 style="color: black;">LOGO</h1>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right mainNav">
        <li class=""><a href="/">Home</a></li>
        <li><a href="{% url 'About' %}">About</a></li>
        <li><a href="{% url 'Courses' %}">Courses</a></li>
        <li><a href="{% url 'Contact' %}">Contact</a></li>
{% if request.user.is_authenticated %}
  <li><a href="{% url 'Logout' %}">Logout</a></li>
  <li><a href="{% url 'StudentProfile' %}">Profile</a></li>
  {% else %}
  <li><a href="{% url 'Login' %}">Login</a></li>
  <li><a href="{% url 'RegisterStudent' %}">Register</a></li>

{% endif %}
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
<!-- /.navbar -->

{% block content %}
{% endblock %}

<footer id="footer">
 
  <div class="container">
 <div class="row">
<div class="footerbottom">
  <div class="col-md-6 col-sm-6">
    <div class="footerwidget">
      <h4>
        Navigation
      </h4>
      <div class="menu-course">
        <ul class="menu">
          <li> <a href="{% url 'Home' %}">
              Home  </a>
          </li>
          <li><a href="{% url 'About' %}">
              About
            </a>
          </li>
          <li><a href="{% url 'Courses' %}">
              Course
            </a>
          </li>
          <li><a href="{% url 'Contact' %}">
              Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6"> 
            <div class="footerwidget"> 
                       <h4>Contact</h4> 
          <div class="contact-info"> 
          <i class="fa fa-map-marker"></i>  United Kingdom<br>
          <i class="fa fa-phone"></i>  +00 123 456 789 <br>
           <i class="fa fa-envelope-o"></i>  youremail@email.com
            </div> 
              </div><!-- end widget --> 
  </div>
</div>
</div>
  </div>
  <div class="footer2">
    <div class="container">
      <div class="row">

        <div class="col-md-6 panel">
          <div class="panel-body">
            <p class="simplenav">
              <a href="{% url 'Home' %}">Home</a> | 
              <a href="{% url 'About' %}">About</a> |
              <a href="{% url 'Courses' %}">Courses</a> |
              <a href="{% url 'Contact' %}">Contact</a>
            </p>
          </div>
        </div>

        <div class="col-md-6 panel">
          <div class="panel-body">
            <p class="text-right">
              Copyright &copy; 2024.
            </p>
          </div>
        </div>

      </div>
      <!-- /row of panels -->
    </div>
  </div>
</footer>
	<script type='text/javascript' src="{% static 'js/jquery.min.js' %}"></script>
    
    <script src="{% static 'js/bootstrap.min.js' %}"></script> 
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
      {% if messages %}
      {% for message in messages %}
    <script>
      alertify.set('notifier', 'position', 'top-right')
      alertify.success('{{message}}')
    </script>
      {% endfor%}
      {% endif %}
</body>
</html>